doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if (login)
      p Welcome #{user.username}
      a(href='/') home
      br
      a(href='/user/#{user.username}') Your Profile
      br
      if (user.admin)
        a(href='/admin') Admin View
      br
      a(href='/logout') Logout
    if (!login)
      a(href='/login') login to your account
      br
      a(href='/signup') Create an account
    block content
